<div class="donate__body-wrapper">
  <div
    style="
      display: flex;
      flex-direction: row;
      padding: 50px;
      background-color: #ffffff;
      color: #000000;
    "
  >
    <div style="padding-right: 15px">
      <img
        style="width: 50px; border-radius: 25px"
        src="../../../assets/fist.jpeg"
        alt=""
      />
    </div>

    <div style="display: grid; gap: 1.5rem">
      <div>
        <div style="opacity: 0.5">USDT (TRC20)</div>
        <div style="font-weight: bold">
          TP83S1AAifANsVmWo6LLaEhczjLAeFnCon
          <img
            style="width: 15px"
            src="../../../assets/copy-svgrepo-com.svg"
            alt=""
          />
        </div>
      </div>

      <div>
        <div style="opacity: 0.5">USDT (ERC20)</div>
        <div style="font-weight: bold">
          0xCFC81F7CcAeD552f5Cf4A9f858C030aeE8a51060
          <img
            style="width: 15px"
            src="../../../assets/copy-svgrepo-com.svg"
            alt=""
          />
        </div>
      </div>

      <div>
        <div style="opacity: 0.5">BUSD (BEP20)</div>
        <div style="font-weight: bold">
          0xCFC81F7CcAeD552f5Cf4A9f858C030aeE8a51060
          <img
            style="width: 15px"
            src="../../../assets/copy-svgrepo-com.svg"
            alt=""
          />
        </div>
      </div>

      <div>
        <div style="opacity: 0.5">BTC (BTC)</div>
        <div style="font-weight: bold">
          bc1q7njp3cdww7rfyuffmlr8rm2vmln0xunmdq2p5l
          <img
            style="width: 15px"
            src="../../../assets/copy-svgrepo-com.svg"
            alt=""
          />
        </div>
      </div>

      <div>
        <div style="opacity: 0.5">ETH (ERC20)</div>
        <div style="font-weight: bold">
          0xCFC81F7CcAeD552f5Cf4A9f858C030aeE8a51060
          <img
            style="width: 15px"
            src="../../../assets/copy-svgrepo-com.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>

  <div
    style="
      display: flex;
      flex-direction: column;
      padding: 50px;
      background-color: #ffffff;
      color: #000000;
      margin-top: 40px;
      gap: 1.5rem;
      font-weight: bold;
    "
  >
    <div>1. Выберите криптовалюту, которую хотите отправить</div>

    <div>
      2. Откройте кошелек или биржу и скопируйте адрес в соответствии с
      выбранной криптовалютой
    </div>
    <div>
      3. После получения адреса укажите его в соответствующем поле и введите
      сумму для перевода
    </div>

    <div>4. И последнее: подтвердите вывод</div>
  </div>

  <div
    style="
      margin-top: 45px;
      font-size: 40px;
      margin-bottom: 40px;
      text-align: center;
    "
  >
    Мы очень благодарны за вашу поддержку ❤️
  </div>
</div>

<div class="footer">
  <div
    style="
      padding: 30px 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: #000000;
      margin: 0 auto;
      max-width: 1500px;
      align-items: center;
    "
  >
    <div>
      <img src="../../../assets/saint-javelin.svg" />
      <div>ул. Большая Житомирская, 2а, Киев 01001 Украина</div>
    </div>

    <div>
      <div style="padding: 10px 0 10px 10px">О нас</div>
      <div style="padding: 0 0 10px 10px">Отчеты</div>
      <div style="padding: 0 0 10px 10px">Связь с нами</div>
    </div>
  </div>
</div>
