.donate {
  &__body-wrapper {
    padding: 0 100px;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 100px;
  }
}

.footer {
  font-family: "Space Grotesk", sans-serif;
  background-color: #fdc500;
  margin-top: 40px;
}
