.donate {
  &__body-wrapper {
    padding: 130px 100px 0 100px;
    margin: 0 auto;
  }

  &__body-container {
    display: grid;
    gap: 40px;
  }

  &__body-container-item {
    padding: 50px;
    background-color: var(--white-color);
    color: var(--black-color);
  }

  &__fist-image {
    width: 50px;
    border-radius: 25px;
  }

  &__address-wrap {
    display: grid;
    gap: 1.5rem;
  }

  &__token-type {
    opacity: 0.5;
  }

  &__address {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: bold;
    word-break: break-word;
    align-items: center;
  }

  &__address-code {
    padding-right: 5px;
  }

  &__copy-icon {
    width: 20px;

    &:hover {
      cursor: pointer;
    }
  }

  &__instructions {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-weight: bold;
  }

  &__gratitude {
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
  }

  &__terms-of-use {
    padding: 0;
  }
}