<div class="reports__body-wrapper width-scale">
    <div class="container reports__body-container">
        <div class="row align-items-center">
            <div class="col-4">
                <img src="assets/report-1.jpg" alt="report-1" class="reports__image">
            </div>

            <div class="col-8">
                <h3 class="text-accent">Сбор для группы аэроразведки ВСУ</h3>

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, id, minus. Aspernatur
                consectetur fuga hic modi molestiae nesciunt placeat vel velit? Adipisci amet, assumenda autem
                consectetur consequatur cum cumque deleniti dolore doloremque dolorum ducimus ea earum eos est facilis
                in ipsum iste laborum laudantium magnam magni molestias nam natus nihil odit perspiciatis porro quam qui
                recusandae repellendus reprehenderit sapiente similique suscipit tenetur unde ut voluptatum. Alias
                blanditiis, commodi cumque doloremque doloribus itaque maiores, nam nihil non omnis optio perferendis,
                provident quam quasi qui quod similique vitae. Cum deserunt eaque excepturi fugiat harum laudantium
                magni, molestiae obcaecati odit quia repellat reprehenderit.
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-8">
                <h3 class="text-accent">Сбор для 11-й отдельной мотопехотной бригады</h3>

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, id, minus. Aspernatur
                consectetur fuga hic modi molestiae nesciunt placeat vel velit? Adipisci amet, assumenda autem
                consectetur consequatur cum cumque deleniti dolore doloremque dolorum ducimus ea earum eos est facilis
                in ipsum iste laborum laudantium magnam magni molestias nam natus nihil odit perspiciatis porro quam qui
                recusandae repellendus reprehenderit sapiente similique suscipit tenetur unde ut voluptatum. Alias
                blanditiis, commodi cumque doloremque doloribus itaque maiores, nam nihil non omnis optio perferendis,
                provident quam quasi qui quod similique vitae. Cum deserunt eaque excepturi fugiat harum laudantium
                magni, molestiae obcaecati odit quia repellat reprehenderit.
            </div>

            <div class="col-4">
                <img src="assets/report-2.jpg" alt="report-2" class="reports__image">
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-4">
                <img src="assets/report-3.webp" alt="report-3" class="reports__image">
            </div>

            <div class="col-8">
                <h3 class="text-accent">Сбор для 4-й отдельной танковой бригады</h3>

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, id, minus. Aspernatur
                consectetur fuga hic modi molestiae nesciunt placeat vel velit? Adipisci amet, assumenda autem
                consectetur consequatur cum cumque deleniti dolore doloremque dolorum ducimus ea earum eos est facilis
                in ipsum iste laborum laudantium magnam magni molestias nam natus nihil odit perspiciatis porro quam qui
                recusandae repellendus reprehenderit sapiente similique suscipit tenetur unde ut voluptatum. Alias
                blanditiis, commodi cumque doloremque doloribus itaque maiores, nam nihil non omnis optio perferendis,
                provident quam quasi qui quod similique vitae. Cum deserunt eaque excepturi fugiat harum laudantium
                magni, molestiae obcaecati odit quia repellat reprehenderit.
            </div>
        </div>

        <div class="row justify-content-center bottom-margin">
            <a
                    href="/donate"
                    class="reports__donat-button"
            >
                Пожертвовать
            </a>
        </div>
    </div>
</div>
