<div class="home__logo">
    <div>Drones of Ukraine</div>

    <a href="/donate" class="home__donat-button">Пожертвовать</a>
</div>

<div class="home__body-wrapper">
    <div class="container home__body-container">
        <div class="row">
            <h2 class="home__support-section-heading" style="margin-top: 0.83em">
                Кто мы такие и в чем заключается наша помощь?
            </h2>

            <div class="home__support-section">
                Мы команда, чьи действия способствуют созданию и внедрению
                сетецентрических и роботизированных военных возможностей для службы
                безопасности Украины <span class="text-accent">(СБУ)</span> и
                вооруженных сил Украины <span class="text-accent">(ВСУ)</span> путем
                сбора анонимных пожертвований для приобретения новейших беспилотных
                летательных аппаратов
            </div>
        </div>

        <div class="row">
            <div class="home__images-block">
                <img src="../../../assets/Emblem_of_the_Ukrainian_Armed_Forces.png"
                     class="home__images-block-image-1 home__images-block-image-1--left">
                <img src="../../../assets/logo-ministry-white.svg" class="home__images-block-image-2">
                <img src="../../../assets/unite-with-uk.svg" class="home__images-block-image-3">
                <img src="../../../assets/u-24.svg" class="home__images-block-image-2">
                <img src="../../../assets/Security_Service_of_Ukraine_Emblem.png"
                     class="home__images-block-image-1 home__images-block-image-1--right">
            </div>
        </div>

        <div class="row">
            <h2 class="home__support-section-heading">
                Какие беспилотные летательные аппараты мы купим на вырученные средства?
            </h2>

            <div class="home__support-section">
                Мы закупаем только проверенные тактические беспилотные летательные
                аппараты воздушной разведки:
                <span class="text-accent">DJI Mavic 3</span>,
                <span class="text-accent">Autel EVO II 640T</span>,
                <span class="text-accent">DJI Matrice 300 RTK</span> и
                <span class="text-accent">DJI Matrice 30T</span>
                <span class="text-block">
                    Наша цель: приобретение <span class="text-accent">50 БПЛА</span> для нужд ВСУ и СБУ
                </span>
            </div>

            <div class="home__drone-images-block">
                <div class="home__drone-images-block-element">
                    <img
                            src="../../../assets/DJI-Mavic-3.png"
                            alt="DJI-Mavic-3"
                            class="home__drone-images-block-element-image"
                    />

                    <div class="text-accent">DJI Mavic 3</div>
                </div>

                <div class="home__drone-images-block-element">
                    <img
                            src="../../../assets/matrice-30T-1.png"
                            alt="matrice-30T-1"
                            class="home__drone-images-block-element-image"
                    />

                    <div class="text-accent">DJI Matrice 30T</div>
                </div>

                <div class="home__drone-images-block-element">
                    <div class="home__drone-images-block-element-image-wrapper">
                        <img
                                src="../../../assets/DJI-Matrice-300-RTK.png"
                                alt="DJI-Matrice-300-RTK"
                                class="home__drone-images-block-element-image"
                        />
                    </div>

                    <div class="text-accent">DJI Matrice 300 RTK</div>
                </div>
            </div>

            <div class="home__support-section" style="margin-top: 40px">
                Эти «дроны» могут летать до
                <span class="text-accent">24 часов</span>, на расстояние до
                <span class="text-accent">160 км</span>, на высоте до
                <span class="text-accent">5 км</span>. Они оснащены несколькими
                термографическими камерами с GPS-модулями и картографическим программным
                обеспечением. Главное, что их трудно заметить, а это значит, что их
                трудно уничтожить, они помогут постоянно следить за линией фронта и
                выявлять позиции агрессора
            </div>
        </div>

        <div class="row">
            <ng-image-slider
                    [images]="imageObject"
                    [animationSpeed]="0.25"
            ></ng-image-slider>
        </div>

        <div class="row">
            <h2 class="home__support-section-heading">Часто задаваемые вопросы</h2>

            <div class="col home__faq-section-element">
                <h3 class="home__faq-section-element-heading">Безопасность</h3>

                <div class="home__faq-section-element-desc">
                    В целях сохранения полной анонимности мы осуществляем сбор средств в
                    криптовалюте (BTC, ETH, USDT), для перевода посредством которой не
                    нужно предоставлять личную информацию, что позволяет сохранять
                    конфиденциальность финансовых операций
                    <a href="/donate" class="text-accent text-block">Инструкция</a>
                </div>
            </div>

            <div class="col home__faq-section-element">
                <h3 class="home__faq-section-element-heading">
                    Как осуществить добровольное пожертвование?
                </h3>

                <div class="home__faq-section-element-desc">
                    Вы можете сделать перевод через BTC, ETH, USDT с использованием
                    <a href="/donate" class="text-accent">инструкции</a>
                </div>
            </div>

            <div class="col home__faq-section-element">
                <h3 class="home__faq-section-element-heading">
                    Возможно ли осуществить пожертвование с использованием банковской
                    карты?
                </h3>

                <div class="home__faq-section-element-desc">
                    Нет, так как данный вид операций отслеживается российским
                    правительством и правоохранительными органами, что не является
                    безопасным средством оказания помощи
                </div>
            </div>

            <div class="col home__faq-section-element">
                <h3 class="home__faq-section-element-heading">
                    Чем я еще могу помочь службе безопасности Украины (СБУ) и вооруженным
                    силам Украины (ВСУ)?
                </h3>

                <div class="home__faq-section-element-desc">
                    Вы можете оказать содействие украинской стороне в выполнении поручений
                    на территории Российской Федерации как на безвозмездной, так и на
                    платной основе. Для получения подробных инструкций советуем обратиться
                    вам в наш <a [href]="telegramBotLink" target="_blank" class="text-accent">Телеграм бот</a>, либо
                    оставить свой почтовый адрес для связи с нашими представителями
                </div>
            </div>
        </div>

        <div class="row">
            <h2 class="home__info-title">Форма связи</h2>

            <div class="home__form-wrapper">
                <div class="home__email">
                    <input
                        #emailInput
                        type="text"
                        placeholder="example@mail.com"
                        class="home__email-text"
                        (keydown.enter)="emailInput.value = ''"
                    >

                    <button
                            type="button"
                            class="home__email-button"
                            [disabled]="emailInput.value === ''"
                            (click)="emailInput.value = ''"
                    >
                        Отправить
                    </button>
                </div>

                <button type="button" class="home__telegram-button" (click)="openInTelegram()">
                    <i></i>
                    <span style="vertical-align: middle">Открыть в телеграм</span>
                </button>
            </div>
        </div>
    </div>
</div>
