<div class="home__logo">
  <div>Drones of Ukraine</div>

  <a href="/donate" class="home__donat-button">Пожертвовать</a>
</div>

<div class="home__body-wrapper">
  <div>
    <h2 class="home__support-section-heading" style="color: #fdc500">
      Кто мы такие и в чем заключается наша помощь?
    </h2>

    <div class="home__support-section">
      <div style="line-height: 1.5rem">
        Мы команда, чьи действия способствуют созданию и внедрению
        сетецентрических и роботизированных военных возможностей для службы
        безопасности Украины <span style="color: #fdc500">(СБУ)</span> и
        вооруженных сил Украины <span style="color: #fdc500">(ВСУ)</span> путем
        сбора анонимных пожертвований для приобретения новейших беспилотных
        летательных аппаратов
      </div>
    </div>
  </div>

  <div class="home__images-block">
    <div
      style="
        background-image: url(../../../assets/Emblem_of_the_Ukrainian_Armed_Forces.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 100px;
        width: 180px;
        opacity: 0.75;
      "
    ></div>

    <div
      style="
        background-image: url(../../../assets/logo-ministry-white.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 100px;
        width: 240px;
        opacity: 0.75;
      "
    ></div>
    <div
      style="
        background-image: url(../../../assets/unite-with-uk.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 100px;
        width: 300px;
      "
    ></div>
    <div
      style="
        background-image: url(../../../assets/u-24.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 100px;
        width: 240px;
        opacity: 0.75;
      "
    ></div>

    <div
      style="
        background-image: url(../../../assets/Security_Service_of_Ukraine_Emblem.svg.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 100px;
        width: 180px;
        opacity: 0.75;
      "
    ></div>
  </div>

  <div>
    <h2 class="home__support-section-heading" style="color: #fdc500">
      Какие беспилотные летательные аппараты мы купим на вырученные средства?
    </h2>

    <div class="home__support-section">
      <div style="line-height: 1.5rem">
        Мы закупаем только проверенные тактические беспилотные летательные
        аппараты воздушной разведки:
        <span style="color: #fdc500">DJI Mavic 3</span>,
        <span style="color: #fdc500">Autel EVO II 640T</span>,
        <span style="color: #fdc500">DJI Matrice 300 RTK</span> и
        <span style="color: #fdc500">DJI Matrice 30T</span>

        <span style="display: block">
          Наша цель: приобретение
          <span style="color: #fdc500">50 БПЛА</span> для нужд ВСУ и СБУ
        </span>
      </div>
      <div
        style="
          padding-top: 20px;
          display: flex;
          justify-content: space-around;
          flex-direction: row;
        "
      >
        <div style="display: flex; flex-direction: column; align-items: center">
          <img
            src="../../../assets/DJI-Mavic-3.png"
            alt="drones-1"
            style="width: 350px; border-radius: 10px"
          />

          <div style="color: #fdc500">DJI Mavic 3</div>
        </div>

        <div style="display: flex; flex-direction: column; align-items: center">
          <img
            src="../../../assets/matrice-30T-1.png"
            alt="drones-1"
            style="width: 350px; border-radius: 10px"
          />

          <div style="color: #fdc500">DJI Matrice 30T</div>
        </div>

        <div style="display: flex; flex-direction: column; align-items: center">
          <div
            style="
              width: 350px;
              height: 350px;
              display: flex;
              align-items: center;
            "
          >
            <img
              src="../../../assets/DJI-Matrice-300-RTK.png"
              alt="drones-1"
              style="width: 350px; height: 165px; border-radius: 10px"
            />
          </div>

          <div style="color: #fdc500">DJI Matrice 300 RTK</div>
        </div>
      </div>

      <div style="padding-top: 80px">
        Эти «дроны» могут летать до
        <span style="color: #fdc500">24 часов</span>, на расстояние до
        <span style="color: #fdc500">160 км</span>, на высоте до
        <span style="color: #fdc500">5 км</span>. Они оснащены несколькими
        термографическими камерами с GPS-модулями и картографическим программным
        обеспечением. Главное, что их трудно заметить, а это значит, что их
        трудно уничтожить, они помогут постоянно следить за линией фронта и
        выявлять позиции агрессора
      </div>
    </div>
  </div>

  <div style="padding: 40px 0">
    <ng-image-slider
      [images]="imageObject"
      [animationSpeed]="0.25"
    ></ng-image-slider>
  </div>

  <!-- <div class="home__satoshi">
    <div class="home__card-wrapper">
      <div class="home__card"></div>
    </div>

    <div class="home__card-desc">
      <h3 class="home__card-desc-heading">
        Every Satoshi Counts: Make an Impact
      </h3>

      <div class="home__card-desc-info">
        Your donations can help provide food, shelter, and essential medical
        supplies to families and individuals affected by the crisis in Ukraine.
      </div>
    </div>
  </div>

  <div class="home__bitcoin">
    <div class="home__card-desc">
      <h3 class="home__card-desc-heading">
        Not Just Bitcoin: Diverse Crypto Support
      </h3>

      <div class="home__card-desc-info">
        We accept various cryptocurrencies including Bitcoin, Ethereum, and
        more! Donating has never been easier, faster, or secure.
      </div>
    </div>

    <div class="home__card-wrapper">
      <div class="home__card"></div>
    </div>
  </div> -->

  <div class="home__faq">
    <h2 class="home__faq-heading">Часто задаваемые вопросы</h2>

    <div class="home__faq-section home__faq-section-margin">
      <div class="home__faq-section-element home__faq-section-element-left">
        <h2 class="home__faq-section-element-heading">Безопасность</h2>

        <div class="home__faq-section-element-desc">
          В целях сохранения полной анонимности мы осуществляем сбор средств в
          криптовалюте (BTC, ETH, USDT), для перевода посредством которой не
          нужно предоставлять личную информацию, что позволяет сохранять
          конфиденциальность финансовых операций
          <a href="/donate" style="color: #fdc500; display: block"
            >Инструкция</a
          >
        </div>
      </div>

      <div class="home__faq-section-element home__faq-section-element-right">
        <h2 class="home__faq-section-element-heading">
          Как осуществить добровольное пожертвование?
        </h2>

        <div class="home__faq-section-element-desc">
          Вы можете сделать перевод через BTC, ETH, USDT с использованием
          <a href="/donate" style="color: #fdc500">инструкции</a>
        </div>
      </div>
    </div>

    <div class="home__faq-section">
      <div class="home__faq-section-element home__faq-section-element-left">
        <h2 class="home__faq-section-element-heading">
          Возможно ли осуществить пожертвование с использованием банковской
          карты?
        </h2>

        <div class="home__faq-section-element-desc">
          Нет, так как данный вид операций отслеживается российским
          правительством и правоохранительными органами, что не является
          безопасным средством оказания помощи
        </div>
      </div>

      <div class="home__faq-section-element home__faq-section-element-right">
        <h2 class="home__faq-section-element-heading">
          Чем я еще могу помочь службе безопасности Украины (СБУ) и вооруженным
          силам Украины (ВСУ)?
        </h2>

        <div class="home__faq-section-element-desc">
          Вы можете оказать содействие украинской стороне в выполнении поручений
          на территории Российской Федерации как на безвозмездной, так и на
          платной основе. Для получения подробных инструкций советуем обратиться
          вам в наш <span style="color: #fdc500">Телеграм бот</span>, либо
          оставить свой почтовый адрес для связи с нашими представителями
        </div>
      </div>
    </div>

    <div class="home__info">
      <h2 class="home__info-title">Форма связи</h2>

      <div class="home__email-wrapper">
        <div class="home__email">
          <span class="home__email-text">example@mail.com</span>
          <button class="home__email-button">Отправить</button>
        </div>

        <button class="home__telegram-button">
          <i></i>
          <span style="vertical-align: middle">Открыть в телеграм</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div
    style="
      padding: 30px 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: #000000;
      margin: 0 auto;
      max-width: 1500px;
      align-items: center;
    "
  >
    <div>
      <img src="../../../assets/saint-javelin.svg" />
      <div>ул. Большая Житомирская, 2а, Киев 01001 Украина</div>
    </div>

    <div>
      <div style="padding: 10px 0 10px 10px">О нас</div>
      <div style="padding: 0 0 10px 10px">Отчеты</div>
      <div style="padding: 0 0 10px 10px">Связь с нами</div>
    </div>
  </div>
</div>
