.app {
  &__header-wrapper {
    background-color: #00489b;
    height: 60px;
    position: fixed;
    right: 0;
    left: 0;
    box-shadow: 0 6px 3px -3px rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  &__header {
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    font-family: "Space Grotesk", sans-serif;
    max-width: 1500px;
    margin: 0 auto;
  }

  &__logo {
    height: 50px;
    border-radius: 25px;
  }

  &__donat-button {
    padding: 15px;
    background-color: #fdc500;
    border: none;
    color: #000000;
    text-decoration: none;
  }
}
