<div class="app__header-wrapper" [class.app__header-wrapper--upper]="isUpper">
    <div class="app__header width-scale" [class.app__header--upper]="isUpper">
        <a href="/home" class="app__logo-link">
            <img
                    src="../assets/header-logo.png"
                    alt="logo"
                    class="app__logo"
                    [class.app__logo--upper]="isUpper"
            />
        </a>

        <a href="/home">Главная</a>
        <a href="/about-us">О нас</a>
        <a href="/">Отчеты</a>
        <a href="/">Связь с нами</a>
        <a href="/donate">Инструкция по переводу</a>

        <a
                href="/donate"
                class="app__donat-button app__donat-button-hover"
                [class.app__donat-button--upper]="isUpper"
        >
            Пожертвовать
        </a>
    </div>
</div>

<router-outlet (activate)="onActivate($event)"></router-outlet>

<div class="app__footer-wrapper">
    <div class="app__footer width-scale">
        <div class="app__footer-info">
            <div class="app__footer-info-item">© 2023 Drones Of Ukraine</div>
            <div class="app__footer-info-item">ул. Большая Житомирская, 2а, Киев 01001 Украина</div>
            <img src="../assets/saint-javelin.svg" class="app__footer-info-image"/>
        </div>

        <div class="app__footer-nav">
            <a href="/home">Главная</a>
            <a href="/about-us">О нас</a>
            <a href="/">Отчеты</a>
            <a href="/">Связь с нами</a>
            <a href="/donate">Инструкция по переводу</a>
        </div>
    </div>
</div>

<div *ngIf="hasCryptoNote$ | async" class="app__note">
    Адрес скопирован
</div>

<div *ngIf="hasCardNote$ | async" class="app__note">
    Номер карты скопирован
</div>