<div class="app__header-wrapper">
  <div class="app__header">
    <a href="/home">
      <img src="../assets/header-logo.jpg" class="app__logo" />
    </a>

    <a href="/about-us" style="text-decoration: none; color: #ffffff">О нас</a>
    <div>Отчеты</div>
    <div>Связь с нами</div>
    <a href="/donate" style="text-decoration: none; color: #ffffff"
      >Инструкция по переводу</a
    >

    <a href="/donate" class="app__donat-button">Пожертвовать</a>
  </div>
</div>

<router-outlet></router-outlet>
