<div class="about-us__body-wrapper">
  <div
    style="
      display: flex;
      flex-direction: column;
      padding: 50px;
      background-color: #ffffff;
      color: #000000;
    "
  >
    <img src="../../../assets/gum-1.jpeg" alt="" />
  </div>

  <div
    style="
      display: flex;
      flex-direction: row;
      padding: 50px;
      background-color: #ffffff;
      color: #000000;
      margin-top: 40px;
    "
  >
    <div>
      Мы - группа волонтеров, которая с 2022 года занимается предоставлением
      беспилотных летательных аппаратов украинской армии. Наш фонд объединяет
      более <span style="color: #fdc500; font-weight: bold">30 человек</span> в
      странах, пострадавших от диктаторского режима Российской Федерации. Наши
      действия способствуют созданию и внедрению сетецентрических и
      роботизированных военных возможностей для службы безопасности Украины
      <span style="color: #fdc500; font-weight: bold">(СБУ)</span> и вооруженных
      сил Украины
      <span style="color: #fdc500; font-weight: bold">(ВСУ)</span> путем сбора
      анонимных пожертвований от политически активных граждан, желающих внести
      весомый вклад в оказание помощи украинской стороне и остановить геноцид
      русского народа. Мы является примером прямого участия российского
      гражданского общества в подавлении агрессии против Украины
    </div>
  </div>

  <div
    style="
      display: flex;
      flex-direction: column;
      padding: 50px;
      background-color: #ffffff;
      color: #000000;
      margin-top: 40px;
      gap: 1.5rem;
      font-weight: bold;
    "
  >
    <img src="../../../assets/gum-2.jpeg" alt="" />
  </div>

  <div
    style="
      display: flex;
      flex-direction: row;
      padding: 50px;
      background-color: #ffffff;
      color: #000000;
      margin-top: 40px;
    "
  >
    <div>
      На вырученные средства мы закупаем беспилотники для
      <span style="color: #fdc500; font-weight: bold"
        >1-й, 2-й и 3-й линий фронта (DJI Mavic 3, Autel EVO II 640T, DJI
        Matrice 300 RTK, и DJI Matrice 30T)</span
      >, координируя закупки с украинскими военнослужащими. Нашей целью является
      приобретение
      <span style="color: #fdc500; font-weight: bold">50</span> тактических
      беспилотных летательных аппаратов воздушной разведки. Эти «дроны» могут
      летать до <span style="color: #fdc500; font-weight: bold">24 часов</span>,
      на расстояние до
      <span style="color: #fdc500; font-weight: bold">160 км</span>, на высоте
      до <span>5 км</span>. Они оснащены несколькими термографическими камерами
      с GPS-модулями и картографическим программным обеспечением. Главное, что
      их трудно заметить, а это значит, что их трудно уничтожить, они помогут
      постоянно следить за линией фронта и выявлять позиции агрессора.
    </div>
  </div>
</div>

<div class="footer">
  <div
    style="
      padding: 30px 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: #000000;
      margin: 0 auto;
      max-width: 1500px;
      align-items: center;
    "
  >
    <div>
      <img src="../../../assets/saint-javelin.svg" />
      <div>ул. Большая Житомирская, 2а, Киев 01001 Украина</div>
    </div>

    <div>
      <div style="padding: 10px 0 10px 10px">О нас</div>
      <div style="padding: 0 0 10px 10px">Отчеты</div>
      <div style="padding: 0 0 10px 10px">Связь с нами</div>
    </div>
  </div>
</div>
