// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$drones-of-ukraine-primary: mat.define-palette(mat.$indigo-palette);
$drones-of-ukraine-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$drones-of-ukraine-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$drones-of-ukraine-theme: mat.define-light-theme((
        color: (
                primary: $drones-of-ukraine-primary,
                accent: $drones-of-ukraine-accent,
                warn: $drones-of-ukraine-warn,
        )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($drones-of-ukraine-theme);

@import "bootstrap/dist/css/bootstrap-grid.min.css";
@import "bootstrap/dist/css/bootstrap-utilities.min.css";
@import "normalize.css";

html,
body {
  height: 100%;
  background-color: var(--secondary-color);
  color: var(--white-color);
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page {
  flex: 1;
}

.width-scale {
  max-width: 1500px;
}

:root {
  --primary-color: #fdc500;
  --secondary-color: #003f88;

  --white-color: #ffffff;
  --black-color: #000000;
  --red-color: #a71f23;

  --telegram-color: #0088cc;
  --telegram-color-lighter: #19a1e6;

  --header-color: #00489b;
  --header-height: 60px;
  --header-height-upper: 100px;
}
